<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chaba.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="MyUser" value="adminhos" />
    <add key="MyPassword" value="cjOketMvL9+av/rbZTY0Mg==" />
    <add key="MyServer" value="127.0.0.1" />
    <add key="MyDatabase" value="cafeteria" />
    <add key="MyPort" value="3306" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Chaba.My.MySettings>
            <setting name="ChkDB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentZone" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="TotalZoneTable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imagepart" serializeAs="String">
                <value>D:\Profile Documents\My Documents\Visual Studio 2010\Projects\Chaba\Chaba\Image</value>
            </setting>
            <setting name="CurrentTable" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UserCashDrawer" serializeAs="String">
                <value>Y</value>
            </setting>
        </Chaba.My.MySettings>
    </userSettings>
</configuration>
